---
import MischiefPage from "../../layouts/MischiefPage.astro"
---

<MischiefPage footer={null}>
    <div class="section">
        <div class="container">
            <p style={{fontFamily: "'Big Bird', serif"}}>&rarr; <a href="/mischief/photos">cute photos!</a> &larr;</p>
        </div>
    </div>
</MischiefPage>