---
import MischiefPage from "../../layouts/MischiefPage.astro"
---

<MischiefPage footer={null}>
    <div class="section">
        <div class="container">
            <p>We are having a small ceremony with family on Halloween, but wanted to make sure we still celebrated with friends the night before! (We will also have a casual house party/celebration next summer).</p>
            <p style={{fontFamily: "'Big Bird', serif"}}><a href="/mischief/photos">&rarr; cute photos! &larr;</a></p>
        </div>
    </div>
</MischiefPage>