---
import BackgroundImg from "./BackgroundImg.astro";

const { imgData } = Astro.props;
---
<div class="columns">
  <div class="column no-pad">
    <div class="grid is-col-min-12 is-gap-0">
      {imgData.map(cell => (
        <div class="cell weddingCell">
          <BackgroundImg href={cell?.href} img={cell.img}>
            {cell.href ? (
              <a href={cell.href} class="weddingLink">{cell?.name}</a>
            ) : (
              <></>
            )}
          </BackgroundImg>    
        </div>  
      ))}
    </div>
  </div>
</div>
<style>
  .weddingCell {
    min-height: 350px;
    max-height: 350px;
  }

  .weddingTitle {
    font-family: "Big Bird", serif;
    text-align: center;
    font-weight: normal;
    padding-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .isReverseMobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .weddingLink {
    font-family: "Big Bird", sans-serif;
    font-size: 2.5rem;
    /* font-style: italic; */
    font-weight: 500;
    color: black;
  }
  .no-bottom-pad {
    padding-bottom: 0px;
  }
  p {
    padding-bottom: 1rem;
    max-width: 100%;
  }
</style>
