---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import nineOrchardImg from '../images/wedding/nine_orchard_4.jpg'
---

<Layout title="Where to stay">
    <div class="section">
        <div class="container">
      <h1 class="is-1 title has-text-centered">Where to stay</h1>
    </div>
    <div class="section">
        <p>We'll be staying at <a href='https://nineorchard.com/'>9 Orchard Street, New York, NY, 10002</a></p>
        <p>One of our love languages is "time spent", so we're excited that everyone will be staying in the same place (or very nearby).</p>
        <p>For parking, we recommend:</p>
        <ul>
            <li>59 Allen Street (shortest walk). Book via <a href='https://ipark.com/'>iPark.</a></li>
            <li>240 East Broadway / 200 Clinton Street. Book via <a href='https://cityparking.nyc/home'>City Parking.</a></li>
            <li>44 Elizabeth Street (below Anthony's old apartment). Book via <a href='https://ipark.com/'>iPark.</a></li>
        </ul>
    </div>
    <div class="section">
        <div class="container center-items">
            <Image alt="Nine Orchard Street" src={nineOrchardImg} style=""/>
        </div>
    </div>
  </div>
</Layout>
