---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import nineOrchardImg from '../images/wedding/nine_orchard_4.jpg'
---

<Layout footer="/" title="Where to stay">
    <div class="section">
        <div class="container">
            <h1 class="is-0 title has-text-centered">Hotel Stuff</h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <p>We'll be staying at <a target="_blank" href='https://maps.app.goo.gl/QiZBXFrAx3qvshYz5'>9 Orchard Street, New York, NY, 10002</a></p>
            <p>One of our love languages is "time spent", so we're excited that everyone will be staying in the same place (or very nearby).</p>
            <p>The ceremony will be held on the balcony of our hotel room. They don't know we're getting married there, so don't spill the beans when you're hamming it up with hotel staff.</p>
            <p>Check in is available at 3:00pm and checkout is at 12:00.</p>
            <p>Complimentary breakfast is available at the Corner Bar (in the lobby) from 7:00am to 11:00 am.</p>
            <p>For parking, we recommend:</p>
            <ul>
                <li>59 Allen Street (shortest walk). Book via <a target="_blank" href='https://ipark.com/'>iPark.</a></li>
                <li>240 East Broadway / 200 Clinton Street. Book via <a target="_blank" href='https://cityparking.nyc/home'>City Parking.</a></li>
                <li>44 Elizabeth Street (below Anthony's old apartment). Book via <a target="_blank" href='https://ipark.com/'>iPark.</a></li>
            </ul>
            <p>For things to do, check out our <a href='/favorite-places'>nearby favorite places.</a></p>
        </div>
    </div>
    <div class="section">
        <div class="container center-items">
            <Image alt="Nine Orchard Street" src={nineOrchardImg} style=""/>
        </div>
    </div>
</Layout>
