---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import keensImg from '../images/wedding/keens_2.jpg'
---

<Layout footer="true" title="Dress Code">
    <div class="section">
        <div class="container">
      <h1 class="is-1 title has-text-centered">Dress Code</h1>
    </div>
    <div class="section">
        <div class="container">
            <p>Mostly formal, but also mostly spooky.</p>
            <p>More details coming soon.</p>
        </div>
    </div>
    <!-- <div class="section">
        <div class="container center-items">
            <Image alt="Keens Steakhouse" src={keensImg} />
        </div>
    </div> -->
  </div>
</Layout>
