---
import Layout from "../layouts/Layout.astro";

// WARNING: Update /nance/itinerary too!
---

<Layout footer="/" title="Wedding Itinerary">
  <div class="container">
    <div class="section">
      <h1 class="is-1 title has-text-centered">Wedding Itinerary</h1>
    </div>
    <div class="section">
      <h2 class="is-3 title">Wednesday, October 30, 2024</h2>
      <ul>
        <li>
          1:00 Check in @ <a href='/9-orchard'>9 Orchard.</a> Feel free to arrive earlier and drop your
          bags at the hotel.
        </li>
        <li>2:00 Foot massages @ Happy Renew Day Spa II.</li>
        <li>7:00 "Rehearsal dinner" / mischief night / cocktail party @ <a href='/superiority-burger'>Superiority Burger.</a></li>
      </ul>
    </div>
    <div class="section">
      <h1 class="is-3 title">Halloween, October 31, 2024</h1>
      <ul>
        <li>9:00 Yoga at Sky Ting</li>
        <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
        <li>2:00 Getting ready</li>
        <li>4:30 Ceremony @ Room 515, 9 Orchard Street.</li>
        <li>5:00 Champagne toast in The Swan Room, 9 Orchard Street.</li>
        <li>6:30 Uptown F Train from East Broadway to 36th Street.</li>
        <li>7:00 Dinner at <a href='/reception'>Keens Steakhouse.</a></li>
      </ul>
    </div>
    <div class="section">
      <h1 class="is-3 title">Friday, November 1, 2024</h1>
      <ul>
        <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
        <li>11:00 Checkout @ 9 Orchard.</li>
      </ul>
    </div>
  </div>
</Layout>
