---
import Layout from "../layouts/Layout.astro";

// WARNING: Update /nance/itinerary too!
---

<Layout footer="/" title="Wedding Itinerary">
  <div class="section">
    <div class="container">
      <h1 class="is-0 title has-text-centered">Wedding Itinerary</h1>
    </div>
    <div class="section">
      <div class="container">
        <h2 class="is-3 title">Wednesday, October 30, 2024</h2>
        <ul>
          <li>2:00 Foot massages @ <a target="_blank" href="https://maps.app.goo.gl/ab3zY3pSiRWbjdqb8">Renew Day Spa II</a> (7 minute walk).</li>
          <li>
            3:00 Check in @ <a href='/9-orchard'>9 Orchard.</a> Feel free to arrive earlier and drop your
            bags at the hotel.
          </li>
          <li>4:00 Blowouts for Wren and The Moms @ <a target="_blank" href="https://maps.app.goo.gl/dEdMdEXa1szgzmyJA">Pell Hair</a> (10 minute walk).</li>
          <li>7:00 Mischief night / cocktail party @ <a href='/superiority-burger'>Superiority Burger</a> (23 minute walk).</li>
          <li>9:00 More mischief in the Lower East Side. Location TBD. Possibly <a target="_blank" href="https://www.somadiscoteca.com/insomnia-style">dancing</a> on the rooftop of <a target="_blank" href="https://maps.app.goo.gl/7TTx4d8Z2UK3ELGi9" >9 Orchard.</a></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="is-3 title">Halloween, October 31, 2024</h1>
        <ul>
          <li>7:00-11:00 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
          <li>8:15 leave for Yoga @ <a target="_blank" href="https://maps.app.goo.gl/c3AK6WSVj62HpPBFA">Sky Ting</a> (24 minute walk). Yoga starts at 9:00.</li>
          <li>1:00 Getting ready...</li>
          <li>4:15 Ceremony @ the honeymoon suite, 9 Orchard Street.</li>
          <li>5:30 Cocktails at <a target="_blank" href="https://maps.app.goo.gl/2UHbP6LF2457EVhq6">Dimes</a> (across the street from the hotel).</li>
          <li>6:30 Ride the uptown F Train from East Broadway to 36th Street (20 minutes).</li>
          <li>7:00 Dinner at <a href='/reception'>Keens Steakhouse.</a></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="is-3 title">Friday, November 1, 2024</h1>
        <ul>
          <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
          <li>12:00 Checkout @ 9 Orchard.</li>
          <li>Hang out with us before heading out of town. Maybe we'll go to the Met!</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
