---
import Layout from "../layouts/Layout.astro";

// WARNING: Update /nance/itinerary too!
---

<Layout footer="/" title="Wedding Itinerary">
  <div class="section">
    <div class="container">
      <h1 class="is-0 title has-text-centered">Wedding Itinerary</h1>
    </div>
    <div class="section">
      <div class="container">
        <h2 class="is-3 title">Wednesday, October 30, 2024</h2>
        <ul>
          <li>
            1:00 Check in @ <a href='/9-orchard'>9 Orchard.</a> Feel free to arrive earlier and drop your
            bags at the hotel.
          </li>
          <li>2:00 Foot massages @ <a target="_blank" href="https://maps.app.goo.gl/ab3zY3pSiRWbjdqb8">Renew Day Spa II</a> (7 minute walk).</li>
          <li>4:00 Blowouts for Wren, Patrice, and Caroline @ <a target="_blank" href="https://maps.app.goo.gl/dEdMdEXa1szgzmyJA">Pell Hair</a> (10 minute walk).</li>
          <li>7:00 Mischief night / cocktail party @ <a href='/superiority-burger'>Superiority Burger</a> (23 minute walk).</li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="is-3 title">Halloween, October 31, 2024</h1>
        <ul>
          <li>9:00 Yoga @ <a target="_blank" href="https://maps.app.goo.gl/c3AK6WSVj62HpPBFA">Sky Ting</a> (24 minute walk).</li>
          <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
          <li>1:00 Getting ready...</li>
          <li>4:30 Ceremony @ Room 515, 9 Orchard Street.</li>
          <li>5:00 Champagne toast in The Swan Room in the hotel lobby.</li>
          <li>6:30 Ride the uptown F Train from East Broadway to 36th Street (20 minutes).</li>
          <li>7:00 Dinner at <a href='/reception'>Keens Steakhouse.</a></li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 class="is-3 title">Friday, November 1, 2024</h1>
        <ul>
          <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
          <li>11:00 Checkout @ 9 Orchard.</li>
          <li>11:15 Hang out with us before heading out of town. Maybe we'll go to the Met!</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
