---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import keensImg from '../images/wedding/keens_2.jpg'
---

<Layout footer="true" title="Reception">
    <div class="section">
        <div class="container">
      <h1 class="is-1 title has-text-centered">Reception</h1>
    </div>
    <div class="section">
        <div class="container">
            <p>Join us for a champagne toast at <a href='https://maps.app.goo.gl/pmzPYFfQS9JAYxnFA'>The Swan Room</a> at 5:00 on Halloween.</p>
            <p>At 6:30, join the happy couple for a romantic subway ride uptown.</p>
            <p>Dinner begins at 7:00 at <a href='https://maps.app.goo.gl/D291rF9Sfbzy8mC57'>Keens Steakhouse.</a></p>
        </div>
    </div>
    <div class="section">
        <div class="container center-items">
            <Image alt="Keens Steakhouse" src={keensImg} />
        </div>
    </div>
  </div>
</Layout>
