---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import LogoCloud from "@/components/landing/LogoCloud.astro";
import Work from "@/components/landing/Work.astro";
import Howitworks from "@/components/landing/Howitworks.astro";
import AllScope from "@/components/landing/AllScope.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import Pricing from "@/components/landing/Pricing.astro";
import Faq from "@/components/landing/Faq.astro";
import Cta from "@/components/global/Cta.astro";
// import { FilloutStandardEmbed } from "@fillout/react";

// Use SSR
export const prerender = false;

// Stylesheet for Fillout form
import "@fillout/react/style.css"
---

<BaseLayout>
  <Hero />
  <LogoCloud />
  <div style="width:100%;height:500px;" data-fillout-id="1TYZeceo1Pus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>
  <!-- <FilloutStandardEmbed filloutId="1TYZeceo1Pus" /> -->
  <Work />
  <Howitworks />
  <AllScope />
  <Testimonials />
  <Pricing />
  <Faq />
  <Cta />
</BaseLayout>
