---
import Layout from "../layouts/Layout.astro";

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="RSVP">
    <div class="section">
        <div class="container">
      <h1 class="is-0 title has-text-centered">RSVP</h1>
    </div>
    <p class="details"></p>
    <p class="details has-text-centered">
        <span>day after summer solstice   •   </span>
        <span>saturday, june 21st   •   </span>
        <span>the pizza hut (our house)   •   </span>
        <span>19 arnold drive   •   </span>
        <span>pizza, beer, and wine.   •   </span>
        <span>festivities begin at noon.   •   </span>
        <span>woodstock, new york   •   </span>
        <span><a href="/faq">FAQs</a></span>
    </p>

    
    <div class="section">
        <div class="container">
            <iframe id="airtableForm" class="airtable-embed" src="https://airtable.com/embed/appXCQL1B69Npnk6J/pagGKp8j9V2SGWwiw/form" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>
  </div>
  <style>
    #airtableForm {
    }
  </style>
</Layout>
