---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import nineOrchardImg from '../images/wedding/nine_orchard_4.jpg'
---

<Layout footer="/" title="Your Trip">
    <div class="section">
        <div class="container">
            <h1 class="is-0 title has-text-centered">YOUR TRIP</h1>
        </div>
    </div>
    <div class="section">
        <div class="grid is-col-min-20">
            <div class="cell">
                <h2 class="title is-2">Details</h2>
                <p>Join us for a casual party / housewarming / post-wedding / summer solstice celebration on our front lawn.</p> 
                <ul>
                    <li class="pl-0">Rain or shine, Saturday, June 21st at our house a.k.a. "The Pizza Hut":</li>
                    <li><a href="https://maps.app.goo.gl/ZW1zYkR4GJhDqrW26" target="_blank" rel="noopener noreferrer">19 Arnold Drive</a></li>
                    <li><a href="https://maps.app.goo.gl/ZW1zYkR4GJhDqrW26" target="_blank" rel="noopener noreferrer">Woodstock, New York, 12498</a></li>
                    <li class="pl-0">Pizza, frivolity, and bacchanalia.</li>
                    <li class="pl-0">Festivities begin at 3:00 and end at 8:00.</li>
                    <li class="pl-0">If it's not an inconvenience, please bring your own beach/lawn/folding chairs.</li> 
                    <li class="pl-0">
                        <a 
                            href="https://airtable.com/appXCQL1B69Npnk6J/paguUPqMnkMMt9B62/form" 
                            target="_blank" 
                            rel="noopener noreferrer" 
                            style={{fontWeight: 'bold'}}
                        >
                            RSVP by march 15.
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cell">
                <h2 class="title is-2">Where to stay</h2>
                <p style={{fontWeight: 'bold'}}>Woodstock hotel prices are crazy in the summer, so book ASAP!</p>
                <p>Airbnb's are a good option—<a href="https://www.airbnb.com/users/show/223318899" target="_blank">Stay with our friend Lumman!</a>—or checkout one of the hotels below:</p>
                <p class="pb-0" style={{fontWeight: 'bold'}}>Closest options: </p>
                <p>
                    <a href="https://thehoteldylan.com/" target="_blank">Hotel Dylan</a>, 
                    <a href="https://www.woodstockway.com/" target="_blank">Woodstock Way</a>,
                    <a href="https://www.woodstock-inn-ny.com/" target="_blank">The Woodstock Inn</a>, 
                    <a href="https://www.twingableswoodstockny.com/" target="_blank">Twin Gables</a>, 
                    <a href="https://via.eviivo.com/en-en/Google/mrnngglrybnbwdstckny12498" target="_blank">The Morning Glory BnB</a>, 
                    <a href="https://villagegreenbb.com/" target="_blank">The Village Green BnB</a>, 
                    <a href="https://www.theherwoodinn.com/" target="_blank">The Herwood Inn</a>
                </p>
                <p class="pb-0" style={{fontWeight: 'bold'}}>Budget options: </p>
                <p>
                    <a href="https://www.wyndhamhotels.com/super-8/kingston-new-york/super-8-kingston-ny/rooms-rates?brand_id=SE&checkInDate=6/21/2025&checkOutDate=6/22/2025&useWRPoints=false&children=0&iata=00093752&adults=2&rooms=1&cid=ME:b36nbbqck97bsff:03707&loc=ChIJJ4HJLQEP3YkRE8kyWFqJ10E&sessionId=1736967421&hotel_id=03707" target="_blank">Super 8</a>, 
                    <a href="https://www.bestwestern.com/en_US/book/hotels-in-kingston/best-western-plus-kingston-hotel-and-conference-center/propertyCode.33159.html" target="_blank">Best Western</a>, 
                    <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/find-hotels/select-roomrate?qDest=1835%20Ulster%20Avenue,%20Lake%20Katrine,%20NY,%20US&qPt=CASH&qCiD=21&qCoD=22&qCiMy=052025&qCoMy=052025&qAdlt=2&qChld=0&qRms=1&qIta=99618783&qRtP=IDAFS&qSlH=POUKN&srb_u=1&qSrt=sBR&qBrs=6c.hi.ex.sb.ul.ic.cp.cw.in.vn.cv.rs.ki.kd.ma.sp.va.sp.re.vx.nd.sx.we.lx.rn.sn.sn.sn.sn.sn.nu&qWch=0&qSmP=0&qRad=30&qRdU=mi&setPMCookies=false&qpMbw=0&qErm=false&qpMn=0&qRmFltr=" target="_blank">Holiday Inn</a>, 
                    <a href="https://www.hilton.com/en/book/reservation/flexibledates/?ctyhocn=POUKGHX&arrivalDate=2025-06-21&departureDate=2025-06-22&room1NumAdults=2" target="_blank">Hampton Inn</a>, 
                    <a href="https://www.marriott.com/en-us/hotels/poucy-courtyard-kingston/overview/" target="_blank">Courtyard</a>, 
                    <a href="https://www.marriott.com/en-us/hotels/pourk-residence-inn-kingston/overview/" target="_blank">Residence Inn</a>
                </p>
                <p class="pb-0" style={{fontWeight: 'bold'}}>Luxury options: </p> 
                <p>
                    <a href="https://www.woodstockway.com/" target="_blank">Woodstock Way</a>, 
                    <a href="https://hotelkinsley.com/" target="_blank">Hotel Kinsley</a>
                </p>
            </div>
            <div class="cell">
                <h2 class="title is-2">Getting here</h2>
                <p><span style={{fontWeight: 'bold'}}>Parking will be limited,</span> so please carpool and use a designated driver!</p>
                <p>You'll need to coordinate your own transportation. Uber/Lyft can be pricy and are not as available up here.</p>
                <p>
                    We're about 2 hours north of NYC. From the city, you can take <a href="https://trailways.com/" target="_blank">the bus</a> from Port Authority to Woodstock 
                    <span style={{fontFamily: 'serif'}}>(</span>5 min drive to the party<span style={{fontFamily: 'serif'}}>)</span> or Kingston 
                    <span style={{fontFamily: 'serif'}}>(</span>15 min drive<span style={{fontFamily: 'serif'}}>)</span>. You can also take the <a href="https://www.amtrak.com/home.html" target="_blank">Amtrak</a> from Grand Central to Rhinecliff 
                    <span style={{fontFamily: 'serif'}}>(</span>30 min drive<span style={{fontFamily: 'serif'}}>)</span>.</p>
            </div>
            <div class="cell">
                <h2 class="title is-2">Favorite places</h2>
                <p>We compiled and annotated some of our favorites spots. <a target="_blank" href='https://www.google.com/maps/d/u/0/edit?mid=124WGIvWeAQnVXluPLF0pSd_5rKt753k&usp=sharing' target="_blank">Open in Google Maps &rarr;</a></p>
                <div class="is-hidden-mobile" style={{width: '100%'}}>
                    <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=124WGIvWeAQnVXluPLF0pSd_5rKt753k&ehbc=2E312F" width="640" height="480"></iframe> -->
                     <iframe style={{width: '100%'}} src="https://www.google.com/maps/d/u/0/embed?mid=124WGIvWeAQnVXluPLF0pSd_5rKt753k&ehbc=2E312F" height="480"></iframe>
                </div>
            </div>
        </div>
    </div>
</Layout>
