---
import MoodBoard from "./MoodBoard.astro"

import img1 from "../images/dresscode/wedding/0abb1024d2b9e21e740e30b8b280d8bf.jpg";
import img2 from "../images/dresscode/wedding/2644abdd5de79927f59778048f9218c4.jpg";
import img3 from "../images/dresscode/wedding/2973b04128bffe6173138519f4224c09.jpg";
import img4 from "../images/dresscode/wedding/36c21800f08d921cf7cb047a3cff2dcb.jpg";
import img5 from "../images/dresscode/wedding/40264be34b623629090baff7da978096.jpg";
import img6 from "../images/dresscode/wedding/40a0b1105f874d79b2e9bdbdc433ea38.jpg";
import img7 from "../images/dresscode/wedding/46d6506e15ad47f12d6fd9ab359cc6d1.jpg";
// import img8 from "../images/dresscode/wedding/489857ec514500ae18cf253581856d78.jpg";
import img9 from "../images/dresscode/wedding/4f383f39afbeaf57ce27f36074cacbf4.jpg";
import img10 from "../images/dresscode/wedding/51679ae36b4e239206176c45210798cf.jpg";
import img11 from "../images/dresscode/wedding/71tZm4alWkL._SX679_.jpg";
import img12 from "../images/dresscode/wedding/82e35b6883393574e9c8c67711f2ebbd.jpg";
import img13 from "../images/dresscode/wedding/866e29e0a4829bbe7a38f1582970fd64.jpg";
import img14 from "../images/dresscode/wedding/9f06c97f32c17c735e12803b286d42e6.jpg";
import img15 from "../images/dresscode/wedding/a4a03dfe0cdf974a340329c386660a62.jpg";
import img16 from "../images/dresscode/wedding/d768cd9b9db997d258700b2979118f61.jpg";
import img17 from "../images/dresscode/wedding/db8bf642923ad733fc29a40c1fa8fef2.jpg";
import img18 from "../images/dresscode/wedding/e96dcc40b9bb0bf51b54954c77f6889b.jpg";
import img20 from "../images/dresscode/wedding/eac8688cdbc37ffbe65d7aeac0e57a11.jpg";
import img21 from "../images/dresscode/wedding/f2c2675643f67b5550137deb1c3be78a.jpg";
import img22 from "../images/dresscode/wedding/f3a2195022822b357e4b60b803195fa7.jpg";
import img23 from "../images/dresscode/wedding/w1020_q80.avif";
import img24 from "../images/dresscode/wedding/unnamed (1).png"
import img25 from "../images/dresscode/wedding/unnamed (2).png"
import img26 from "../images/dresscode/wedding/unnamed (3).png"
import img27 from "../images/dresscode/wedding/unnamed (4).png"
import img28 from "../images/dresscode/wedding/unnamed (5).png"
import img29 from "../images/dresscode/wedding/unnamed (6).png"
import img30 from "../images/dresscode/wedding/unnamed (7).png"
import img32 from "../images/dresscode/wedding/unnamed.png"

const imgData = [
    { img: img1 }, { img: img2 }, { img: img3 }, { img: img4 }, { img: img5 }, { img: img6 }, { img: img7 }, { img: img9 }, 
    { img: img10 }, { img: img11 }, { img: img12 }, { img: img13 }, { img: img14 }, { img: img15 }, { img: img16 }, { img: img17 }, 
    { img: img18 }, { img: img20 }, { img: img21 }, { img: img22 }, { img: img23 }, { img: img24 }, { img: img25 }, { img: img26 }, 
    { img: img27 }, { img: img28 }, { img: img29 }, { img: img30 }, { img: img32 }
];
// This component is only meant to be used inside of a MoodBoardPage component
---
<div class="section">
    <div class="container">
        <h1 id="wedding-dress-code" class="is-3 title has-text-centered">Wedding Day Dress Code</h1>
    </div>
</div>
<div class="section">
    <div class="container">
        <p>Macabre glam. Mostly formal but also mostly spooky. Black tie meets Addams Family. Transylvania chic. What would a fairly successful magician wear at the turn of the century?</p>
        <p>Whatever inspires you to (maybe) shed a tear on a Manhattan rooftop during a small wedding ceremony then eat copious amounts of steak and oysters—and mutton chops?—at a restaurant frequented by Einstein and Babe Ruth. On Halloween.</p>
    </div>
</div>
<MoodBoard imgData={imgData} />
