---
interface Props {
  footer: string;
}

const { footer } = Astro.props;
---
<footer class="footer">
    <div class="container" style={{textAlign: 'right', fontFamily: "'Big Bird', serif"}}>
        <a href={footer ? footer : '/'}>return to homepage</a>
      <!-- <div class="columns">
        <div class="column">
          <div class="columns is-mobile footer-links">
            <div class="column">
                <a href="/">Home</a>
            </div>
            <div class="column">
                <a href="/itinerary">Itinerary</a>
            </div>
            <div class="column">
                <a href="/9-orchard">Where to stay</a>
            </div>
            <div class="column">
                <a href="superiority-burger">"Rehearsal dinner" (mischief night)</a>
            </div>
            <div class="column">
                <a href="/ceremony">Ceremony</a>
            </div>
            <div class="column">
                <a href="/reception">Reception</a>
            </div>
            <div class="column">
                <a href="/dresscode">Dress code</a>
            </div>
            <div class="column">
                <a href="/faq">FAQs</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </footer>
  <style>
    /* Additional styles for footer responsiveness */
    .footer {
      /* background-color: #f5f5f5; Light grey background */
      padding: 2rem 1rem; /* Padding around footer */
    }
    .footer-links {
      justify-content: space-between; /* Spacing between links */
    }
  
    @media (max-width: 768px) {
      .footer-links {
        flex-direction: column; /* Stack links on smaller screens */
        align-items: center;
      }
    }
  </style>