---
interface Props {
  footer: string;
}

const { footer } = Astro.props;
---
<footer class="footer">
  <div class="section">
    <div class="container" style={{textAlign: 'right', fontFamily: "'Big Bird', serif"}}>
      <a href={footer ? footer : '/'}>return to homepage</a>
      <div 
        style={{fontSize: '.8rem', color: '#dc4f34'}}>Made with &hearts; (from scratch) by Anthony & Wren</div>
      </div>
    </div>
  </footer>
  <style>
    /* Additional styles for footer responsiveness */
    .footer {
      background-color: #3d352b; 
      color:  #dc4f34;
      padding: 2rem 1rem; /* Padding around footer */
    }
    .footer-links {
      justify-content: space-between; /* Spacing between links */
    }
  
    @media (max-width: 768px) {
      .footer-links {
        flex-direction: column; /* Stack links on smaller screens */
        align-items: center;
      }
    }
  </style>