---
import Layout from "./Layout.astro";
import CeremonyDressCode from '../../components/spooky/CeremonyDressCode.astro'
import MischiefDressCode from '../../components/spooky/MischiefDressCode.astro'

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="Dress Code">
  <div class="section">
    <div class="container">
      <h1 class="is-0 title has-text-centered">Dress Code</h1>
    </div>
  </div>
  {footer === '/mischief' ? (<></>) :(
    <div class="section">
      <div class="container">
        <p style="text-align: center; max-width: 100%"><a href="#mischief-dress-code">Mischief night</a> | <a href="#wedding-dress-code">Wedding Day</a></p>
      </div>
  </div>
  )}
  <MischiefDressCode footer={footer}/>
  {footer === '/mischief' ? (<></>) : (<CeremonyDressCode />)}
</Layout