---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

const { footer } = Astro.props;
---

<Layout footer={footer} title="Dress Code">
    <div class="section">
        <div class="container">
      <h1 class="is-1 title has-text-centered">Dress Code</h1>
    </div>
    <div class="section">
        <div class="container">
            <p>Mostly formal, but also mostly spooky.</p>
            <p>More details coming soon.</p>
        </div>
    </div>
  </div>
</Layout>
