---
import Layout from "./Layout.astro";

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="FAQs">
    <div class="section">
        <div class="container">
      <h1 class="is-0 title has-text-centered">FAQs</h1>
    </div>
    <div class="section">
        <div class="container">
          <p><span style="font-weight: bold;">Is this a wedding?</span> We got married this past Halloween in a small ceremony with our immediate family. It was magical—see the <a href="/wedding-photos">photographic evidence</a>—but we didn't get to celebrate with <span style={{fontStyle: 'italic'}}>all</span> the people we love. This event is our opportunity to celebrate with y'all! It's a post-wedding summer solstice house party.</p>
          <p><span style="font-weight: bold;">Is there a registry?</span> Your presence is a present. But <a href="https://www.myregistry.com/wedding-registry/wren-sieber-and-anthony-baker-woodstock-ny/4462756/giftlist" target="_blank" rel="noopener noreferrer">here</a> are some things we're fiending for if you must lavish us with gifts.</p>
          <p><span style="font-weight: bold;">Will there be transportation?</span>No, please coordinate your own transportation. Ubers are a bit limited up here so please carpool and use a designated driver!</p>
          <p><span style="font-weight: bold;">Will Wren spill wine on me if I wear white?</span> On the contrary, she may if you don't! See the recommended <a href="/dresscode">dresscode.</a>
          <p><span style="font-weight: bold;">What can I bring?</span> Please bring lawn chairs or folding chairs, if you can. And a good attitude.</p>
          <p><span style="font-weight: bold;">Can I bring a plus one? Can I bring my kids?</span>Yes and yes. Please let us know when you <a href="https://airtable.com/appXCQL1B69Npnk6J/paguUPqMnkMMt9B62/form" target="_blank" rel="noopener noreferrer">RSVP</a>.</p>
          <p><span style="font-weight: bold;">Will there be food?</span> Yes! We'll have pizza, snacks, and plenty to drink.</p>
          <p><span style="font-weight: bold;">Should I wear 6" stilettos?</span> Probably not! We'll be hanging out on our lawn. But what do we care, go for it if you want.</p>
          <p><span style="font-weight: bold;">Why is your house called The Pizza Hut?</span> Wait til you see our roofline.</p>
          <p><span style="font-weight: bold;">I've got some downtime, what should I do?</span> We've compiled some of our <a href='/favorite-places'>favorite nearby places!</a></p>
          <p><span style="font-weight: bold;">Other questions?</span> Text us and we'll add them here.</p>
        </div>
    </div>
  </div>
</Layout>
