---
import Layout from "./Layout.astro";

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="FAQs">
    <div class="section">
        <div class="container">
      <h1 class="is-0 title has-text-centered">FAQs</h1>
    </div>
    <div class="section">
        <div class="container">
            <p><span style="font-weight: bold;">When I arrive at the hotel, should I mention I'm here for the wedding?</span> No! We haven't told them we're getting married. The ceremony will be held on the balcony of our room, so keep it on the DL!</p>
            <p><span style="font-weight: bold;">Are you still having a big wedding?</span> Not really, but maybe sort of. We are thinking of having a casual celebration at our house during the summer of 2025. Everyone is invited. Details coming soon.</p>
            <p><span style="font-weight: bold;">Can I take photos or videos?</span> We'll be joined by a photographer for the first part of the evening on Halloween and you will have access to all of their photos. We'd prefer everyone to be present, but we understand if you can't help yourself.</p>
            {footer === "/nance" ? (<p><span style="font-weight: bold;">What should I pack?</span>A good attitude.</p>) : (
              <p><span style="font-weight: bold;">What should I pack?</span>A good attitude. And yoga clothes if you're doing yoga, and walking shoes. And see the <a href="/dresscode">dress codes</a>.</p>
            )}
            {footer === "/nance" ? (<></>) : (
              <p><span style="font-weight: bold;">I've got some downtime, what should I do?</span> We've compiled some of our <a href='/favorite-places'>favorite nearby places!</a></p>
            )}            
            <p><span style="font-weight: bold;">Other questions?</span> Text us and we'll add them here.</p>
        </div>
    </div>
  </div>
</Layout>
