---
import Layout from "./Layout.astro";

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="FAQs">
    <div class="section">
        <div class="container">
      <h1 class="is-1 title has-text-centered">FAQs</h1>
    </div>
    <div class="section">
        <div class="container">
            <p><span style="font-weight: bold;">Are you still having a big wedding?</span> Sort of. We will be having casual celebration at our house during the summer of 2025. Everyone is invited. Details coming soon.</p>
            <p><span style="font-weight: bold;">Can I take photos or videos?</span> We'll be joined by a photographer for the first part of the evening, and you will have access to all of their photos. We'd prefer everyone to be present, but we understand if you can't help yourself.</p>
            <p><span style="font-weight: bold;">Other questions?</span> Text us and we'll add them here.</p>
        </div>
    </div>
  </div>
</Layout>
