---
import Layout from "./Layout.astro";

interface Props {
  footer: string;
}

const { footer }  = Astro.props;
---

<Layout footer={footer} title="FAQs">
    <div class="section">
        <div class="container">
      <h1 class="is-0 title has-text-centered">FAQs</h1>
    </div>
    <div class="section">
        <div class="container">
            <p><span style="font-weight: bold;">What can I bring?</span> TBD</p>
            <p><span style="font-weight: bold;">Will there be transportation?</span> TBD</p>
            <p><span style="font-weight: bold;">Is this a wedding?</span> TBD</p>
            <p><span style="font-weight: bold;">Is there a registry?</span> TBD</p>
            <p><span style="font-weight: bold;">Will there be food?</span> Yes! We'll have pizza, snacks, and plenty to drink.</p>
            <p><span style="font-weight: bold;">Should I wear 6" stilettos?</span> Probably not! We'll be hanging out on our lawn. But what do I care, go for it if you want.</p>
            <p><span style="font-weight: bold;">What should I pack?</span>A good attitude.</p>
            <p><span style="font-weight: bold;">I've got some downtime, what should I do?</span> We've compiled some of our <a href='/favorite-places'>favorite nearby places!</a></p>
            <p><span style="font-weight: bold;">Other questions?</span> Text us and we'll add them here.</p>
        </div>
    </div>
  </div>
</Layout>
