---
interface Props {
	title: string;
	footer: string | null;
}

import Footer from '../components/Footer.astro'

const { title, footer } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex">
		<meta name="description" content="Wren Sieber & Anthony Baker Wedding" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon_wren.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		{footer ? (
			<Footer footer={footer} />
		) : (<></>)}
	</body>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

	@font-face {
		font-family: 'Big Bird';
		src: url('/fonts/big_bird/TAYBigBird.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Orsay';
		src: url('/fonts/orsay/orsay.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Chuby';
		src: url('/fonts/chuby_style/chuby_style.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Fleuron';
		src: url('/fonts/fleuron/fonts/FleuronMixed.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Fleuron Regular';
		src: url('/fonts/fleuron/fonts/FleuronRegular.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Hot Pizza';
		src: url('/fonts/pizza_hut/hotpizza.ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Ketchup';
		src: url('/fonts/ketchup_manis/KetchupManisDemoRegular.otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Book.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Book Italic.ttf') format('truetype');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Light.ttf') format('truetype');
		font-weight: 300; /* Light weight */
		font-style: normal;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Light Italic.ttf') format('truetype');
		font-weight: 300; /* Light weight */
		font-style: italic;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Medium.ttf') format('truetype');
		font-weight: 500; /* Medium weight */
		font-style: normal;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Medium Italic.ttf') format('truetype');
		font-weight: 500; /* Medium weight */
		font-style: italic;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Semibold.ttf') format('truetype');
		font-weight: 600; /* Semibold weight */
		font-style: normal;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Semibold Italic.ttf') format('truetype');
		font-weight: 600; /* Semibold weight */
		font-style: italic;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'FreightBig Pro';
		src: url('/fonts/freight_big/FreightBig Pro Bold Italic.ttf') format('truetype');
		font-weight: bold;
		font-style: italic;
	}

	html {
		font-family: 'FreightBig Pro', system-ui, sans-serif;
		background: #c1b09a;
		/* background: #3d352b; */
		color: #3d352b;
	}
	.title {
		font-family: 'Big Bird', sans-serif;
		font-weight: 500;
		color: #dc4f34;
	}
	.index-title {
		font-size: 5rem;
	}
	@media screen and (max-width: 1345px) and (min-width: 1223px) {
		.index-title {
			font-size: 4.5rem;
		}
	}
	@media screen and (max-width: 1223px) and (min-width: 1100px) {
		.index-title {
			font-size: 4rem;
		}
	}
	@media screen and (max-width: 1100px) and (min-width: 980px) {
		.index-title {
			font-size: 3.5rem;
		}
	}
	@media screen and (max-width: 980px) and (min-width: 769px) {
		.index-title {
			font-size: 3rem;
		}
	}
	.is-0 {
		font-size: 5rem;
	}
	@media screen and (max-width: 1024px) { 
		.is-0 {
			font-size: 3.5rem;
		}
	}


	p, li {
		font-family: 'FreightBig Pro', 'Baskerville', 'Libre Baskerville', serif;
		font-size: 1.5rem;
		max-width: 70%;
	}
	
	@media (max-width: 768px) {
		p, li {
			max-width: inherit; /* Or any other value for larger screens */
		}
	}

	p, ul, ol {
		padding-bottom: 1em;
		color: #3d352b;
		/* color: white; */

	}

	li {
		padding-left: 1em;
		padding-bottom: .7em;
	}
	h1, h2, h3 {
		font-weight: 500;
	}
	a {
		text-decoration: underline;
		color: #3d352b;
		/* color: white; */
	}
	a:hover {
		font-style: italic;
	}
	.center-items {
		display: flex;
		justify-content: center;
	}
	.no-side-pad {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.no-pad {
		padding: 0;
	}
</style>
</html>