---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import burgerImg from '../images/wedding/superiority_4.webp'

const { footer } = Astro.props;
---

<Layout footer={footer} title="Rehearsal Dinner (mischief night)">
    <div class="section">
        <div class="container">
            <h1 class="is-1 title has-text-centered">"Rehearsal Dinner" (mischief night)</h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <p>The "Rehearsal dinner" of sorts (it's a casual affair with bites and drinks) will be at <a target="_blank" href='https://www.superiorityburger.com/'>Superiority Burger</a> at 7:00pm on Wednesday, October 30. It's a kooky vegetarian diner in the East Village, so buckle up... It's also one of <a target="_blank" href='https://www.nytimes.com/2023/06/27/dining/restaurant-review-superiority-burger-east-village.html'>the best restaraunts in NYC.</a></p>
            <p>Fun fact: <a target="_blank" href='https://www.nytimes.com/2024/03/14/style/superiority-burger-ashwin-deshmukh.html'>Wren's old boss is a high-profile con artist</a> who is a managing partner at Superiorty Burger!</p>
        </div>
    </div>
    <div class="section">
        <div class="container center-items">
            <Image alt="Superiority Burger Guy" src={burgerImg} />
        </div>
    </div>
  </div>
</Layout>
