---
import Layout from "./Layout.astro";
import MoodBoard from "../components/MoodBoard.astro";

interface Props {
  footer: string;
  title: string;
  imgData: Array;
}



const { footer, title, imgData }  = Astro.props;
---

<Layout footer={footer} title="Dresscode">
  <div class="section">
    <div class="container">
      <h1 class="is-0 title has-text-centered">{title}</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <slot></slot>
    </div>
</div>
<MoodBoard imgData={imgData} />
</Layout