---
import Layout from "./Layout.astro";

const { footer } = Astro.props;
---

<Layout footer={footer} title="Our favorite places">
    <div class="section">
        <div class="container">
            <h1 class="is-0 title has-text-centered">Our favorite places</h1>
        </div>
        <div class="container center-items">
            <p>We compiled (and annotated!) <span style="font-style: italic;">some</span> of our favorites spots. <a target="_blank" href='https://www.google.com/maps/d/u/0/edit?mid=124WGIvWeAQnVXluPLF0pSd_5rKt753k&usp=sharing' target="_blank">Open in Google Maps &rarr;</a></p>
        </div>
        <div class="container center-items">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=124WGIvWeAQnVXluPLF0pSd_5rKt753k&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
    </div>
</Layout>
