---
import Layout from "./Layout.astro";

const { footer } = Astro.props;
---

<Layout footer={footer} title="Our favorite places">
    <div class="section">
        <div class="container">
            <h1 class="is-0 title has-text-centered">Our favorite places</h1>
        </div>
        <div class="container center-items">
            <p>We compiled and annotated some of our favorites spots near our hotel. <a target="_blank" href='https://www.google.com/maps/d/u/0/edit?mid=1YGA_uRAtooE9O5PxotoQLfSSO0RM_b8&usp=sharing'>Open in Google Maps &rarr;</a></p>
        </div>
        <div class="container center-items">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YGA_uRAtooE9O5PxotoQLfSSO0RM_b8&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
        </div>
    </div>
</Layout>
