---
import Layout from "../../layouts/Layout.astro";
---

<Layout footer="/nance" title="Wedding Itinerary">
  <div class="container">
    <div class="section">
      <h1 class="is-1 title has-text-centered">Wedding Itinerary</h1>
    </div>
    <div class="section">
      <h2 class="is-3 title">Wednesday, October 30, 2024</h2>
      <ul>
        <li>7:00 Cocktail party @ Superiority Burger</li>
      </ul>
    </div>
    <div class="section">
      <h1 class="is-3 title">Halloween, October 30, 2024</h1>
      <ul>
        <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
        <li>4:30 Ceremony @ Room 515, 9 Orchard Street.</li>
        <li>5:00 Champagne toast in The Swan Room, 9 Orchard Street.</li>
        <li>6:30 Uptown F Train to 36th Street.</li>
        <li>7:00 Dinner at Keens Steakhouse.</li>
      </ul>
    </div>
    <div class="section">
      <h1 class="is-3 title">Friday, November 1, 2024</h1>
      <ul>
        <li>9:30 Breakfast @ The Corner Bar in the hotel lobby (included with your stay).</li>
        <li>11:00 Checkout @ 9 Orchard.</li>
      </ul>
    </div>
  </div>
</Layout>
