---
import Layout from "../../layouts/Layout.astro";
// REMINDER: Update main itinerary too!
---

<Layout footer="/nance" title="Events">
    <div class="section">
        <div class="container">
            <h1 class="is-0 title has-text-centered">Events</h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="is-3 title">Wednesday, October 30, 2024</h2>
            <ul>
                <li>7:00 Join us at for a cocktail party @ <a href="/nance/mischief">Superiority Burger</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h1 class="is-3 title">Halloween, October 31, 2024</h1>
            <ul>
                <li>5:00 Meet us at  for a champagne toast—our first drink as a married couple!—at <a target="_blank" href="https://maps.app.goo.gl/YA4e8wXhme3yCK9W8">The Swan Room at 9 Orchard Street.</a></li>
                <li>7:00 Wedding reception dinner at <a href='/nance/reception'>Keens Steakhouse.</a></li>
            </ul>
        </div>
    </div>
</Layout>
